{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Clubname</th>
                <th>Initial Scores</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.clubname }}</td>
                    <td>{{ user.initial_scores }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

